<p>Hi {{ name }},</p>

<p>Please find below a report of your open & provisional quotes in Current RMS:</p>

<h3>Open Quotes:</h3>
{% if open_quotes %}
    <ul>
        {% for quote in open_quotes %}
            <li>
                <a href="{{ quote.url }}" target="_blank">
                    <strong>Order:</strong> {{ quote.order_number }}, 
                    <strong>Subject:</strong> {{ quote.subject }}, 
                    <strong>Client Confirmation Deadline:</strong> {{ quote.deadline }}
                </a>
            </li>
            <br>
        {% endfor %}
    </ul>
{% else %}
    <p>
        You currently have no open quotes to follow up with.
    </p>
{% endif %}

<h3>Provisional Quotes:</h3>
{% if provisional %}
    <ul>
        {% for order in provisional %}
            <li>
                <a href="{{ order.url }}" target="_blank">
                    <strong>Order:</strong> {{ order.order_number }}, 
                    <strong>Subject:</strong> {{ order.subject }}, 
                    <strong>Client Confirmation Deadline:</strong> {{ order.deadline }}
                </a>
            </li>
            <br>
        {% endfor %}
    </ul>
{% else %}
    <p>
        You currently have no provisional quotes to follow up with.
    </p>
{% endif %}

<p>
    Regards,
    <br>
    <br>
    LFPS
</p>