.provisional_background {
    background-color: #0088f0;
}

.reserved_background {
    background-color: #a30094;
}

.open-background {
    background-color: #cc001e;
}

.is-invalid {
    border-color: #dc3545 !important;
}

.height-600 {
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
}

.rounded-corners {
    border-radius: 10px;
}

.table-scrollable {
    display: flex;
    overflow-x: auto;
}

.table-scrollable td {
    min-width: 250px;
    max-width: 250px;
    height: 250px;
    vertical-align: top;
}

.tbody-flex {
    display: flex;
}

.tr-display {
    display: inline-table;
}

.display-none {
    display: none;
}

.div-border {
    border: 1px solid #fff;
}

.b-border {
    border-bottom: 1px solid #20C4F4;
}

.opportunity {
    position: absolute;
}

.row-one {
    top: 82px;
}

.row-two {
    top: 218px;
}

.row-three {
    top: 354px;
}

.row-four {
    top: 490px;
}

.row-five {
    top: 626px;
}

.row-six {
    top: 762px;
}

.row-seven {
    top: 898px;
}

.row-eight {
    top: 1034px;
}

.row-nine {
    top: 1170px;
}

.row-ten {
    top: 1306px;
}

.row-eleven {
    top: 1442px;
}

.row-twelve {
    top: 1578px;
}

.row-thirteen {
    top: 1714px;
}

.row-fourteen {
    top: 1850px;
}

.row-fifteen {
    top: 1986px;
}

.row-sixteen {
    top: 2122px;
}

.row-seventeen {
    top: 2258px;
}

.row-eighteen {
    top: 2394px;
}

.row-nineteen {
    top: 2530px;
}

.row-twenty {
    top: 2666px;
}

.row-twenty-one {
    top: 2802px;
}

.row-twenty-two {
    top: 2938px;
}

.row-twenty-three {
    top: 3074px;
}

.row-twenty-four {
    top: 3210px;
}