.provisional_background {
    background-color: #0088f0;
}

.reserved_background {
    background-color: #a30094;
}

.open-background {
    background-color: #5bc0de;
}

.height-600 {
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
}

.rounded-corners {
    border-radius: 10px;
}

.table-scrollable {
    display: flex;
    overflow-x: auto;
}

.table-scrollable td {
    min-width: 250px;
    max-width: 250px;
    height: 250px;
    vertical-align: top;
}

.display-none {
    display: none;
}

.div-border {
    border: 1px solid #fff;
}