/* --------------------------------------------- Traffic Light Styling */
/* Code for Traffic light from Codepen */
.trafficlight{
    background: #222;
    background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
    width: 170px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    border: solid 5px #333;
  }

.red{
  background: red;
  background-image: radial-gradient(brown, transparent);
  background-size: 5px 5px; 
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 35px;
  border: dotted 2px red;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px red;
}
  
.yellow{
  background: yellow;
  background-image: radial-gradient(orange, transparent);
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: dotted 2px yellow;
  position: absolute;
  top: 145px;
  left: 35px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px yellow;
}
  
.green{
  background: green;
  background-image: radial-gradient(lime, transparent);
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: dotted 2px lime;
  position: absolute;
  top: 270px;
  left: 35px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px lime;
}

.red.fade-out{
  animation: fade-out 4s forwards;
}

.yellow.fade-out{
  animation: fade-out 4s forwards;
}

.green.fade-out{
  animation: fade-out 4s forwards;
}

.red.fade-in{
  animation: fade-in 4s forwards;
}

.yellow.fade-in{
  animation: fade-in 4s forwards;
}

.green.fade-in{
  animation: fade-in 4s forwards;
}
  
@keyframes fade-in{
  100%{opacity: 1}
  80%{opacity: 1}
  60%{opacity: 1}
  40%{opacity: .1}
  20%{opacity: .1}
  0%{opacity: .1}
}

@keyframes fade-out{
  0%{opacity: 1}
  20%{opacity: 1}
  40%{opacity: 1}
  60%{opacity: .1}
  80%{opacity: .1}
  100%{opacity: .1}
}

/* --------------------------------------------- Calendar Styling */
.calendar-size{
  border: 2px solid #20C4F4;
}

.cell-border{
  border: 1px solid #20C4F4;
  min-height: 150px;
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* --------------------------------------------- Media Queries */
/* Medium Screens & up */
@media (min-width:768px) {
  .trafficlight{
    width: 255px;
    height: 600px;
  }

  .red{
    width: 150px;
    height: 150px;
    top: 30px;
    left: 48px;
  }

  .yellow{
    width: 150px;
    height: 150px;
    top: 225px;
    left: 48px;
  }

  .green{
    width: 150px;
    height: 150px;
    top: 420px;
    left: 48px;
  }
}