.provisional_background {
    background-color: #0088f0;
}

.reserved_background {
    background-color: #a30094;
}

.open-background {
    background-color: #5bc0de;
}

.height-600 {
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
}

.rounded-corners {
    border-radius: 10px;
}