.provisional_background {
    background-color: #0088f0;
}

.reserved_background {
    background-color: #a30094;
}

.open-background {
    background-color: #cc001e;
}

.height-600 {
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
}

.rounded-corners {
    border-radius: 10px;
}

.table-scrollable {
    display: flex;
    overflow-x: auto;
}

.table-scrollable td {
    min-width: 250px;
    max-width: 250px;
    height: 250px;
    vertical-align: top;
}

.tbody-flex {
    display: flex;
}

.tr-display {
    display: inline-table;
}

.display-none {
    display: none;
}

.div-border {
    border: 1px solid #fff;
}

.opportunity {
    position: absolute;
}

.row-one {
    top: 66px;
}

.row-two {
    top: 202px;
}

.row-three {
    top: 338px;
}

.row-four {
    top: 474px;
}

.row-five {
    top: 610px;
}

.row-six {
    top: 746px;
}

.row-seven {
    top: 882px;
}

.row-eight {
    top: 1018px;
}

.row-nine {
    top: 1154px;
}

.row-ten {
    top: 1290px;
}

.row-eleven {
    top: 1426px;
}

.row-twelve {
    top: 1562px;
}

.row-thirteen {
    top: 1698px;
}

.row-fourteen {
    top: 1834px;
}

.row-fifteen {
    top: 1970px;
}

.row-sixteen {
    top: 2106px;
}

.row-seventeen {
    top: 2242px;
}

.row-eighteen {
    top: 2378px;
}

.row-nineteen {
    top: 2514px;
}

.row-twenty {
    top: 2650px;
}

.row-twenty-one {
    top: 2786px;
}

.row-twenty-two {
    top: 2922px;
}

.row-twenty-three {
    top: 3058px;
}

.row-twenty-four {
    top: 3194px;
}