/* --------------------------------------------- LFPS Fonts */
/* LFPS Bold */
@font-face {
    font-family: LFPSBold;
    src: url('../fonts/LFPSStandard-Bold.ttf') format('truetype');
}

/* LFPS Standard */
@font-face {
    font-family: LFPSStandard;
    src: url('../fonts/LFPSStandard-Regular.ttf') format('truetype');
}


/* --------------------------------------------- General Styling Setup */
body {
    font-family: 'LFPSStandard', sans-serif;
    background-color: black;
    color: #20C4F4;
}

/* body > .container-fluid > .row {
    height: 100vh;
} */

/* --------------------------------------------- Containers */

.outer-traffic-light {
    height: 90%;
    width: 90%;
    border-radius: 50px;
    background-color: white;
    box-sizing: border-box;
    margin: 50px;
    z-index: 1;
}

.inner-traffic-light {
    height: 90%;
    width: 90%;
    border-radius: 50px;
    background-color: black;
    box-sizing: border-box;
    z-index: 2;
}

.traffic-light-colour {
    height: 30%;
    width: 70%;
    border-radius: 50%;
    background-color: #232b2b;
    z-index: 3;
    margin: 6% 14%;
}
