{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta
    name="description"
    content="A workload display represented in the form of a traffic light system">

    <meta
    name="keywords"
    content="workload, traffic light, management, api, workload capacity">

    <meta name="author" content="Cameron Cove-Crichton">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workload/css/workload.css' %}">
{% endblock %}

{% block extra_title%}- Workload{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row workload-container">
            <!-- Traffic Light Div -->
            <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3 order-sm-last d-flex justify-content-center align-items-center">
                <div class="outer-traffic-light d-flex justify-content-center align-items-center">
                    <div class="inner-traffic-light">
                        <div class="traffic-light-colour"></div>
                        <div class="traffic-light-colour"></div>
                        <div class="traffic-light-colour"></div>
                    </div>
                </div>
            </div> -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 order-sm-last d-flex justify-content-center align-items-center">
                <div class="trafficlight d-flex justify-content-center align-items-center">
                    <!-- <div class="protector"></div>
                    <div class="protector"></div>
                    <div class="protector"></div> -->
                    <div id="red"></div>
                    <div id="yellow"></div>
                    <div id="green"></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-12">
                        <h2>Calendar</h2>
                        <div>
                            <!-- Calendar details go here -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>Event Weights</h2>
                        <!-- Event weight details go here -->
                        <input type="checkbox" id="provisional_ops" name="Provisonal Opportunities" value="true" checked>
                        <label for="provisional_ops">Provisional Opportunities: <span id="provisional_weight">{{ provisional_weight }}</span>kg</label>
                        <br>
                        <input type="checkbox" id="reserved_ops" name="Reserved Opportunities" value="true" checked>
                        <label for="reserved_ops">Reserved Opportunities: <span id="reserved_weight">{{ reserved_weight }}</span>kg</label>
                        <br>
                        <input type="checkbox" id="confirmed_ops" name="Confirmed Opportunities" value="true" checked>
                        <label for="confirmed_ops">Confirmed Opportunities: <span id="confirmed_weight">{{ confirmed_weight }}</span>kg</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'workload/js/workload.js' %}"></script>
{% endblock %}