{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta
    name="description"
    content="A workload display represented in the form of a traffic light system">

    <meta
    name="keywords"
    content="workload, traffic light, management, api, workload capacity">

    <meta name="author" content="Cameron Cove-Crichton">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workload/css/workload.css' %}">
{% endblock %}

{% block extra_title%}- Workload{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row workload-container">
            <!-- Traffic Light Div -->
            <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3 order-sm-last d-flex justify-content-center align-items-center">
                <div class="outer-traffic-light d-flex justify-content-center align-items-center">
                    <div class="inner-traffic-light">
                        <div class="traffic-light-colour"></div>
                        <div class="traffic-light-colour"></div>
                        <div class="traffic-light-colour"></div>
                    </div>
                </div>
            </div> -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 order-sm-last d-flex justify-content-center align-items-center">
                <div class="trafficlight d-flex justify-content-center align-items-center">
                    <div class="protector"></div>
                    <div class="protector"></div>
                    <div class="protector"></div>
                    <div class="red"></div>
                    <div class="yellow"></div>
                    <div class="green"></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-12">
                        <h2>Calendar</h2>
                        <div>
                            <!-- Calendar details go here -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>Event Weights</h2>
                        <!-- Event weight details go here -->
                        <p>Provisional Opportunities: <span>{{ provisional_weight }}kg</span></p>
                        <p>Reserved Opportunities: <span>{{ reserved_weight }}kg</span></p>
                        <p>Confirmed Opportunities: <span>{{ confirmed_weight }}kg</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}