{% extends "base.html" %}
{% load static %}
{% block extra_meta %}
    <meta
    name="description"
    content="An error display page 500, for a server error">

    <meta name="author" content="Cameron Cove-Crichton">
{% endblock %}

{% block extra_title%}- 500{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>500</h1>
                <h2>Server Error</h2>
                <p>Oops, something went wrong.</p>
                <a class="btn btn-success" href="{% url 'workload' %}">Back to Safety</a>
            </div>
        </div>
    </div>
{% endblock %}