{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta
    name="description"
    content="A workload display representing the workshops upcoming workload requirements">

    <meta name="author" content="Cameron Cove-Crichton">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workload/css/workshop_workload.css' %}">
{% endblock %}

{% block extra_title%}- Workshop Workload{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="loading-overlay" class="loading-overlay" style="display: none;">
        <img src="{% static 'logos/Logo - on Transparent - small.png' %}" alt="light fantastic logo">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        <h1>Loading...</h1>
    </div>
    <div class="container-fluid">
        <div class="row workload-container">
            <!-- Messages Div -->
            <div id="api-error-msg" class="col-12">
                <!-- Error messages go here -->
            </div>
           <!-- Scenic Event Div -->
           <div class="row text-center">
                <!-- Scenic Opportunities displayed here -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 cell-border"></div>
           </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    <script type="module" src="{% static 'workload/js/workshop_workload.js' %}"></script>
{% endblock %}