{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta
    name="description"
    content="A workload display represented in the form of a traffic light system">

    <meta
    name="keywords"
    content="workload, traffic light, management, api, workload capacity">

    <meta name="author" content="Cameron Cove-Crichton">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workload/css/workload.css' %}">
{% endblock %}

{% block extra_title%}- Workload{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row workload-container">
            <!-- Messages Div -->
            <div class="col-12 api-error-msg">
                <!-- Error messages go here -->
            </div>
            <!-- Traffic Light Div -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 order-sm-last d-flex justify-content-center align-items-center">
                <div class="trafficlight d-flex justify-content-center align-items-center">
                    <div id="red"></div>
                    <div id="yellow"></div>
                    <div id="green"></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-12">
                        <h2>Calendar</h2>
                        <div class="container-fluid">
                            
                            <div class="row">
                                <!-- Week 1 -->
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                        
                                <!-- Week 2 -->
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>

                                <!-- Week 3 -->
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>

                                <!-- Week 4 -->
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>

                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                                <div class="col-6 col-md-4 col-lg-1 cell-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>Event Weights</h2>
                        <!-- Event weight details go here -->
                        <p>Provisional Opportunities: <span id="provisional_weight">{{ provisional_weight }}</span>kg</p>
                        <p>Reserved Opportunities: <span id="reserved_weight">{{ reserved_weight }}</span>kg</p>
                        <p>Confirmed Opportunities: <span id="confirmed_weight">{{ confirmed_weight }}</span>kg</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="quote">
                            <!-- Quotes go here -->
                        </div>
                        <div id="author">
                            <!-- Author goes here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'workload/js/workload.js' %}"></script>
{% endblock %}